.body_table {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_table {
    width: 85%;
}

.table-title {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.box_search {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 3rem;
}

#table_search {
    width: 35%;
    margin-left: 0.75rem;
    padding: 10px;
    border: 1px solid rgb(183, 211, 139);
    border-radius: 4px;
    box-sizing: border-box;
}