.body {
    display: flex;
    justify-content: flex-start;
}

.App-logo {
    pointer-events: none;
    opacity: 0.7;
    clip-path: ellipse(50% 50%);
    width: 50%;
    height: 50%;
}

.App-nav-vertical {
    width: 85%;
    background-color: #b0e474;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: rgb(37, 71, 14);
}

.App-nav-vertical p {
    font-size: large;
    font-size: 25px;
    font-weight: 600;
    margin-block-end: 0;
    text-align: center;
}

.nameOfCompany {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-family: inherit;
    margin-block-start: 0.5em;
}

.App-body-plugins {
    width: 70%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.App-body-plugins img {
    width: 65%;
    height: 65%;
}

.link {
    font-size: 25px;
    color: #202f0f;
    cursor: pointer;
}

.link:hover {
    color: #1b58a8;
}

* {
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.redirection {
    text-align: center;
}

.redirection a {
    text-decoration: none;
    cursor: pointer;
}

.boxOfRedirection {
    margin-top: 5em;
}

@media screen and (max-width: 600px) {
    .App-nav-vertical p {
        font-size: small;
    }

    .link {
        font-size: smaller;
    }
}